<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head Partial -->
    <%- include('./partials/head'); %>

    <title>Training Link | Edit User</title>

    <!-- Custom Style -->
    <style>
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      .card {
        width: 500px;
      }
      .field-icon {
        float: right;
        margin-right: 8px;
        margin-top: -30px;
        position: relative;
        z-index: 2;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <!-- Sidebar Partial -->
      <%- include('./partials/sidebar'); %>

      <div class="main-panel">
        <!-- Nav Partial -->
        <%- include('./partials/nav', { user }); %>

        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card mx-auto">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Edit User</h4>
                  </div>
                  <div class="card-body">
                    <%- include('./partials/messages'); %>
                    <form action="/en/admin/users/edit" method="POST">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">User Name</label>
                            <input name="name" type="text" class="form-control" value="<%= editUser.name %>"/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Email Address</label>
                            <input name="email" type="email" class="form-control" value="<%= editUser.email %>" readonly/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Phone Number</label>
                            <input name="phone" type="number" class="form-control" value="<%= editUser.phone %>"/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <input type="submit" value="Edit User" class="btn btn-primary pull-left">
                            <a href="/en/admin/users" class="btn btn-primary pull-right">Go Back</a>
                          </div>
                        </div>
                      </div>
                      <input type="hidden" name="id" value="<%= editUser.id %>">
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Foorter Partial -->
        <%- include('./partials/footer'); %>
      </div>
    </div>

    <!-- JS Scripts Partial -->
    <%- include('./partials/scripts'); %>
  </body>
</html>