<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head Partial -->
  <%- include('./partials/head'); %>
  
  <title>Training Link | Institutes</title>

  <!-- Custom Style -->
  <style>
    .dropdown-toggle::after {
        display: none;
    }
  </style>
</head>

<body>
  <div class="wrapper ">
    <!-- Sidebar Partial -->
    <%- include('./partials/sidebar'); %>

    <div class="main-panel">
      <!-- Nav Partial -->
      <%- include('./partials/nav', { user }); %>
      
      <!-- Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">List of Institutes</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="table" class="table">
                      <thead class="text-primary">
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>1<sup>st</sup> Class</th>
                        <th>Manage</th>
                      </thead>
                      <tbody>
                        <% if(data.length > 0) {%>
                        <% data.forEach(d => {%>
                          <tr>
                            <td><%= d.name %></td>
                            <td><%= d.institute_address %></td>
                            <td><%= d.institute_phone %></td>
                            <td><% if(d.is_first_class == 1) { %> Yes <% } else { %> No <% } %></td>
                            <td>
                              <div class="dropdown show">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="material-icons">settings</i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <a class="dropdown-item" href="en/institutes/<%= d.institute_id %>/show">Show</a>
                                  <a class="dropdown-item" href="en/institutes/<%= d.institute_id %>/delete" onclick="confirm('Are you sure to delete this institute?')">Delete</a>
                                  <a class="dropdown-item" href="en/institutes/<%= d.institute_id %>/edit" onclick="confirm('Are you sure to edit this institute?')">Edit</a>
                                </div>
                              </div>
                            </td>
                          </tr>
                        <% });} else { %>
                          <td class="text-center" colspan="5">No Data Available</td>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                  <button class="btn btn-primary pull-left" onclick="printTable()">Print Table</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Foorter Partial -->
      <%- include('./partials/footer'); %>
    </div>
  </div>

  <!-- JS Scripts Partial -->
  <%- include('./partials/scripts'); %>
  <script src="/js/jspdf.min.js"></script>
  <script src="/js/jspdf.plugin.autotable.js"></script>

  <!-- Custom JS Script -->
  <script>
    $(document).ready(() => {
      $('#table').DataTable({
        "bPaginate": true,
        "bLengthChange": false,
        "bFilter": false,
        "bInfo": false,
        "bAutoWidth": false 
      });
    });

    // function to print table into PDF
    function printTable() {
      const doc = new jsPDF();
      doc.autoTable({ html: '#table', theme: 'grid' });
      doc.save('institutes.pdf');
    }
  </script>
</body>
</html>