<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Training Link | Home</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.addons.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="container-scroller">
      <!-- nav partial -->
      <%- include('partials/nav', {user: user}); %>
      <div class="container-fluid page-body-wrapper">
        <!-- sidebar partial -->
        <%- include('partials/sidebar'); %>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                  <div class="card-body">
                    <div class="clearfix">
                      <div class="float-left">
                        <i class="mdi mdi-school text-danger icon-lg"></i>
                      </div>
                      <div class="float-right">
                        <p class="mb-0 text-right">Institutes</p>
                        <div class="fluid-container">
                          <h3 class="font-weight-medium text-right mb-0">
                            <%= instCount %>
                          </h3>
                        </div>
                      </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                      <i class="mdi mdi-format-list-numbers mr-1" aria-hidden="true"></i>
                      Number of Institutes
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                  <div class="card-body">
                    <div class="clearfix">
                      <div class="float-left">
                        <i class="mdi mdi-city text-primary icon-lg"></i>
                      </div>
                      <div class="float-right">
                        <p class="mb-0 text-right">Companies</p>
                        <div class="fluid-container">
                          <h3 class="font-weight-medium text-right mb-0">
                              <%= compCount %>
                          </h3>
                        </div>
                      </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                      <i class="mdi mdi-format-list-numbers mr-1" aria-hidden="true"></i>
                      Number of Companies
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                  <div class="card-body">
                    <div class="clearfix">
                      <div class="float-left">
                        <i
                          class="mdi mdi-human-male-female text-warning icon-lg"
                        ></i>
                      </div>
                      <div class="float-right">
                        <p class="mb-0 text-right">Students</p>
                        <div class="fluid-container">
                          <h3 class="font-weight-medium text-right mb-0">
                              <%= studCount %>
                          </h3>
                        </div>
                      </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                      <i class="mdi mdi-format-list-numbers mr-1" aria-hidden="true"></i>
                      Number of Registered Students
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                  <div class="card-body">
                    <div class="clearfix">
                      <div class="float-left">
                        <i class="mdi mdi-file-document text-success icon-lg"></i>
                      </div>
                      <div class="float-right">
                        <p class="mb-0 text-right">Quotations</p>
                        <div class="fluid-container">
                          <h3 class="font-weight-medium text-right mb-0">
                              <%= quotCount %>
                          </h3>
                        </div>
                      </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                      <i class="mdi mdi-format-list-numbers mr-1" aria-hidden="true"></i>
                      Number of Available Quotations
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Bar chart</h4>
                    <canvas id="bar-chart" style="height:230px"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Doughnut chart</h4>
                    <canvas id="doughnut-chart" style="height:250px"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- footer partial -->
          <%- include('partials/footer'); %>

        </div>
      </div>
    </div>

    <!-- JS Files -->
    <script src="/js/jquery.min.js"></script>
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <script src="/vendors/js/vendor.bundle.addons.js"></script>
    <script src="/js/off-canvas.js"></script>
    <script src="/js/misc.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/dashboard.js"></script>

    <!-- Chart Info -->
    <script>
      let myDoughnutChart = document.getElementById('doughnut-chart').getContext('2d');
      let myBarChart = document.getElementById('bar-chart').getContext('2d');

      let userStat = new Chart(myDoughnutChart, {
        type: 'doughnut',
        data: {
          labels: ['Institutes', 'Companies', 'Students', 'Quotations'],
          datasets: [{
            data: [ '<%= instCount %>', '<%= compCount %>', '<%= studCount %>', '<%= quotCount %>' ],
            backgroundColor: [
              'rgba(255, 99, 132, 0.8)',
              'rgba(54, 162, 235, 0.8)',
              'rgba(255, 206, 86, 0.8)',
              'rgba(75, 192, 192, 0.8)'
            ],
          }]
        },
        options: {}
      });

      let barStat = new Chart(myBarChart, {
        type: 'bar',
        data: {
          labels: ['Institutes', 'Companies', 'Students', 'Quotations'],
          datasets: [{
            label: 'Statistics',
            data: [ '<%= instCount %>', '<%= compCount %>', '<%= studCount %>', '<%= quotCount %>' ],
            backgroundColor: [
              'rgba(255, 99, 132, 0.8)',
              'rgba(54, 162, 235, 0.8)',
              'rgba(255, 206, 86, 0.8)',
              'rgba(75, 192, 192, 0.8)'
            ],
          }]
        },
        options: {}
      });
    </script>
  </body>
</html>